*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body,html{
    height: 100%;
    background-color: #d3f5d3;
}

.feed{
    text-align: center;
}

.feed-form{
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 380px;
    /*min-height: 295px;*/
    background-color:#fff;
    padding: 38px 40px 40px 40px;
    border-radius: 9px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
}

.input{
    margin-top: 5px;
    width: 100%;
    height:30px;
    border-radius: 5px;
    background-color: #e6f3f5;
    border:none;
    padding:0 20px;
    color:#4b4b4b;
    font-size:12px;
    font-weight:300;
    text-align:center;
}

button{
    width: 100%;
    height: 52px;
    font-size: 14px;
    background-color: #a8d5a8;
    border: none;
    border-radius: 7px;
}
button:hover {
    background: rgb(49, 140, 49);
    color: white;
    box-shadow: inset 0 0 0 3px rgb(49, 140, 49);
}

#male{
    margin-right: 50px;
}